/* Add to ProductList.css */
.cart_quantity_count {
    position: absolute;
    top: 5px; /* Adjust position relative to your icon */
    right: 5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 8px;
    font-size: 16px;
    font-weight: bold;
}

.cart {
    position: relative;
    display: inline-block;
}
